<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hhmhieu.vnuklmslogin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Control.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Control.StudentHP" />
        <activity android:name=".Control.LecturerHP" />
        <activity android:name=".Control.Lectures" />
        <activity android:name=".Control.Notification" />
        <activity android:name=".Control.DocSharing" />
        <activity android:name=".Control.LecturerInfo" />
        <activity android:name=".Control.SyllabusesSharing" />
        <activity android:name=".Control.LectureNotesSharing" />
        <activity android:name=".Control.DeadlineManage"></activity>
        <activity android:name=".Control.SyllabusesView" />
        <activity android:name=".Control.LectureNotesView" />
        <activity android:name=".Control.NotificationCreating" />
        <activity android:name=".Control.StudentDocSharing"/>

    </application>

</manifest>
